:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --second-color: #9d2ada;
  --grey: #7a7a7b;
  --white: #fff;
  --black: #000;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

body,
html {
  font-size: 62.5%;
  background-color: var(--background-color);
  scroll-behavior: smooth;
  position: relative;
}

section {
  padding: 5rem 0;
}

.container {
  /* width: 100%; */
  max-width: 80%;
  margin: 0 auto;
}

.btn-primary {
  border-radius: 20px;
  min-width: 100px;
  min-height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 20px;
  color: var(--black);
  border: var(--black) 1px solid;
}

.btn-primary:hover {
  cursor: pointer;
}

.btn-primary:focus {
  cursor: pointer;
  outline: none;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-fixed {
  background-attachment: fixed;
}
/* style color */
.primary-color {
  color: var(--primary-color);
}

.black-color {
  color: var(--black);
}

.grey-color {
  color: var(--grey);
}

.white-color {
  color: var(--white);
}

.bg-white {
  background: #fff;
}
/* end style color */

.pos-relative {
  position: relative;
}

.border-radius {
  border-radius: 15px;
}

.border-color {
  border: 1px solid var(--primary-color);
}

.fs-small {
  font-size: 11px;
}

.cart:hover img {
  filter: invert(50%) sepia(79%) saturate(5664%) hue-rotate(135deg)
    brightness(97%) contrast(88%);
  cursor: pointer;
}

.cusor-pointer {
  cursor: pointer;
}

/* hieu ung */
.zoom-0 {
  transform: scale(0);
  transition: 0.5s all ease-in-out;
}

.zoom-0.start {
  transform: unset;
}

.left-to-right {
  transform: translateX(-150%);
  transition: 1s ease-in-out;
}

.left-to-right.start {
  transform: translateX(0%);
}

.right-to-left {
  transform: translateX(150%);
  transition: 1s ease-in-out;
}

.right-to-left.start {
  transform: translateX(0%);
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 99;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
}

#header .logo {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.2;
}

#header .menu .menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header .menu__item {
  padding: 5px 20px;
  border-radius: 8px;
}
#header .menu__link {
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
}
#header .menu__item:hover,
#header .menu__item.active {
  background-color: var(--primary-color);
  transition: all 0.3s ease-in;
}
#header .menu__item:hover .menu__link,
#header .menu__item .menu__link.active {
  color: var(--white);
  transition: all 0.3s ease-in;
}

#header .cart img {
  color: var(--black);
}
#header .cart:hover img {
  color: var(--primary-color);
}

/* home */
#home {
  background-image: url("../images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.slogan h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--primary-color);
}
.slogan p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);
}
.slogan .btn-order-now {
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
  min-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.btn-order-now:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}
/* about */
#about .img {
  background-image: url("../images/dan-gold-4_jhDO54BYg-unsplash.jpg");
  min-height: 30rem;
  border-radius: 15px;
}
.about-slogan::parent {
  position: relative;
}
.about-slogan {
  border-radius: 15px;
  background-color: #fff;
  padding: 4rem;
  text-align: center;
}
.about-slogan.pos-absolute {
  position: absolute;
  top: 50%;
  transform: translate(-20%, -50%);
}
.about-slogan-title {
  font-size: 23px;
  color: var(--grey);
  margin-bottom: 1.5rem;
}
.about-slogan p,
.menu-slogan p {
  font-size: 11px;
  line-height: 1.2;
}

/* menu */
#menu {
  background-image: url("../images/katherine-chase-4MMK78S7eyk-unsplash.jpg");
}
#menu .menu {
  padding: 6rem 4rem;
}
.menu-slogan {
  font-size: 20px;
  text-align: center;
}
.menu-slogan-title {
  margin-bottom: 1rem;
  font-size: 26px;
}

.food-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.food-category .category__item {
  padding: 5px 15px;
  font-size: 14px;
  list-style: none;
  min-width: 110px;
  font-weight: 500;
  margin-right: 15px;
  text-align: center;
}
.category__item:hover,
.category__item.active {
  background-color: var(--primary-color);
  transition: all 0.3s ease-in;
  color: var(--white);
}
.food-menu-wrap {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.food-item {
  width: 25%;
  height: 27rem;
  padding: 1rem;
}
.item-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.4px solid #cdcddb;
}
.item-img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.item-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.item-info h3 {
  font-size: 13px;
}
.food-item:hover .item-wrap {
  border: 0.4px solid #cdcddb;
  box-shadow: 3px 3px 3px #cdcddb;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.food-item:hover .cart img {
  filter: invert(50%) sepia(79%) saturate(5664%) hue-rotate(135deg)
    brightness(97%) contrast(88%);
  cursor: pointer;
}
/* hieu ung cho menu */
.food-item .item-img img:hover {
  transform: scale(2) rotate(45deg);
}

/* footer */
#footer {
  background-image: url("../images/nordwood-themes-pYWrdKO5ksI-unsplash.jpg");
  padding: 10rem 0rem;
}

.weget {
  font-size: 12px;
}
.weget .title {
  font-size: 17px;
  margin-bottom: 10px;
}

.weget .desc {
  letter-spacing: 0.5px;
}

.form-subcrise {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
}

.form-subcrise input {
  font-size: 12px;
  padding: 3px;
  flex-grow: 1;
  color: var(--grey);
  border-radius: 10px;
  background: none;
  border: none;
  outline: none;
}
.form-subcrise input:focus {
  border: none;
  outline: none;
}
.btn-subsrcibe {
  width: 35%;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-slogan.start {
    position: unset;
    top: 0;
    transform: translateX(0);
    margin: -1rem;
    margin-top: 1rem;
  }

  .food-item {
    width: 50%;
  }
}
